brotli==1.0.9 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "CPython"
brotlicffi==1.0.9.2 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Windows"
contourpy==1.0.7 ; python_version >= "3.8" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.12"
fonttools==4.39.0 ; python_version >= "3.8" and python_version < "3.12"
fuzzy-search==1.5.0 ; python_version >= "3.8" and python_version < "3.12"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "3.10"
inflate64==0.3.1 ; python_version >= "3.8" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.12"
matplotlib==3.7.1 ; python_version >= "3.8" and python_version < "3.12"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.2 ; python_version >= "3.8" and python_version < "3.12"
packaging==23.0 ; python_version >= "3.8" and python_version < "3.12"
pandas==1.5.3 ; python_version >= "3.8" and python_version < "3.12"
pillow==9.4.0 ; python_version >= "3.8" and python_version < "3.12"
psutil==5.9.4 ; python_version >= "3.8" and python_version < "3.12" and sys_platform != "cygwin"
py7zr==0.20.4 ; python_version >= "3.8" and python_version < "3.12"
pybcj==1.0.1 ; python_version >= "3.8" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
pycryptodomex==3.17 ; python_version >= "3.8" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.12"
pyppmd==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
pytz==2022.7.1 ; python_version >= "3.8" and python_version < "3.12"
pyzstd==0.15.4 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12"
seaborn==0.12.2 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
texttable==1.6.7 ; python_version >= "3.8" and python_version < "3.12"
tqdm==4.65.0 ; python_version >= "3.8" and python_version < "3.12"
xmltodict==0.12.0 ; python_version >= "3.8" and python_version < "3.12"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
