brotli==1.1.0 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "PyPy"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "PyPy"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.1.1 ; python_version >= "3.8" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.8" and python_version < "4.0"
fonttools==4.50.0 ; python_version >= "3.8" and python_version < "4.0"
fuzzy-search==2.1.0 ; python_version >= "3.8" and python_version < "4.0"
importlib-resources==6.3.1 ; python_version >= "3.8" and python_version < "3.10"
inflate64==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.8" and python_version < "4.0"
matplotlib==3.7.5 ; python_version >= "3.8" and python_version < "4.0"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "4.0"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.8" and python_version < "4.0"
pandas==2.0.3 ; python_version >= "3.8" and python_version < "4.0"
pillow==10.2.0 ; python_version >= "3.8" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.8" and python_version < "4.0" and sys_platform != "cygwin"
py7zr==0.20.8 ; python_version >= "3.8" and python_version < "4.0"
pybcj==1.0.2 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0" and platform_python_implementation == "PyPy"
pycryptodomex==3.20.0 ; python_version >= "3.8" and python_version < "4.0"
pyparsing==3.1.2 ; python_version >= "3.8" and python_version < "4.0"
pyppmd==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
pyzstd==0.15.9 ; python_version >= "3.8" and python_version < "4.0"
scipy==1.9.3 ; python_version >= "3.8" and python_version < "4.0"
seaborn==0.13.2 ; python_version >= "3.8" and python_version < "4.0"
shapely==2.0.3 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
texttable==1.7.0 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.66.2 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.8" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.18.1 ; python_version >= "3.8" and python_version < "3.10"
